.container {
    color: darkblue;
    text-align: center;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 45px;
}

@media (min-width: 400px) {
    p {
        font-size: 30px;
    }
}

@media (min-width: 800px) {
    p {
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 60px;
    }
}